@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right,#c90322, #fb042b, #fb1539, #fc4764);
    font-family: 'Poppins', sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

section h1,p{
    color: #fff;
}

section h1{
    font-size: 2.5rem;
}

section p{
    font-size: 1.3rem;
}

.border-el-btn {
    display: flex;
    justify-content: center;
    position: relative;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 1em 2em;
    margin: 3% 1% 1% 1.3%;
    width: 20%;
    transition: background-color 0.8s;
}
  
.border-el-btn:active {
    transform: scale(.98);
}

.border-el-btn:hover{
    background-color: #000;
}
  
.border-el-btn span {
    position: absolute;
    background: #fff;
    transition: .5s;
}
  
.border-el-btn span:nth-child(1) {
    top: 0;
    left: 0;
    width: 3px;
    height: 30%;
}
  
.border-el-btn:hover span:nth-child(1) {
    height: 100%;
}
  
.border-el-btn span:nth-child(2) {
    top: 0;
    left: 0;
    width: 15%;
    height: 3px;
}
  
.border-el-btn:hover span:nth-child(2) {
    width: 100%;
}
  
.border-el-btn span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 3px;
    height: 30%;
}
  
.border-el-btn:hover span:nth-child(3) {
    height: 100%;
}
  
.border-el-btn span:nth-child(4) {
    bottom: 0;
    right: 0;
    width: 15%;
    height: 3px;
}
  
.border-el-btn:hover span:nth-child(4) {
    width: 100%;
}

@media(max-width: 700px) {

    section{
        text-align: center;
        margin-top: 65%;
    }

    .border-el-btn{
        margin-top: 10%;
        width: 70%;
    }
}