@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: #faecee;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    margin: 3%;
    padding: 0% 6% 0% 5%;
    border-radius: 90px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.363);
    background-color: #fff;
    transition: all 0.3s;
}

.header.sticky{
    margin: 0;
    border-radius: 0;
}

.header-logo{
    display: flex;
}

.logo-content{
    display: flex;
    margin: 1%;
}

.logo-content img{
    width: 80%;
}

#checkbox {
    display: none;
  }
  
.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    gap: 10px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition-duration: .5s;
}
  
.bars {
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
}
  
#bar2 {
    transition-duration: .8s;
}
  
#bar1 {
    width: 50%;
}
  
#bar2 {
    width: 75%;
}
  
#checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .1s;
}
  
#checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 30px;
}

.btn-talk{
    margin-left: 3%;
}

.btn{
    display: flex;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid;
    color: #000;
    transition: 0.5s;
}

.btn:hover{
    background-color: #fb042b;
    color: #fff;
}

.header-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: #000;
    transition: 0.5s;
}

.header-link:hover{
    color: #fb042b;
}

.header-link::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fb042b;
    transition: width 0.2s ease-in-out, transform 0.4s ease-in-out;
    transform: translateX(-50%);
}

.header-link:hover::after{
    width: 100%;
    transform: translateX(0%);
}

.main-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#c90322, #fb042b, #fb1539, #fc4764);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 7% 1% 1% 1%;
}

.container-banner{
    display: flex;
    padding-top: 8%;
}

.text-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-bottom: 11%;
    gap: 2em;
}

.text-banner h2{
    text-align: center;
    width: 70%;
    margin: 7% 1% 1% 1%;
    font-size: 1.8rem;
    font-weight: 800;
    color: #fff;
}

.text-banner img{
    width: 100%;
}

.fancy {
    background-color: transparent;
    border: 2px solid #faecee;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: #fff;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}
   
.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
}
   
.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #fb042b;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}
   
.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #fb042b;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}
   
.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #fb042b;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}
   
.fancy:hover {
    color: white;
    background: #000;
}
   
.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}
   
.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}
   
.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}
   
.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0; 
}

.arrow-scroll{
    position: absolute;
    top: 600px;
    left: 730px;
    right: 730px;
    padding: 0.3%;
    width: 7%;
    transition: 0.5s;
    animation: 1s ease-in-out 2s infinite alternate none running icon-move-people;
}

@keyframes icon-move-people{
    0%{
        transform: translate3d(0px, 0px, 0px);
    }

    100%{
        transform: translate3d(0px, 10px, 10px);
    }
}

.arrow-scroll:hover{
    transform: translateY(5%);
}

.banner img{
    width: 70%;
}

.top-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 10em;
}

.top-page h2{
    font-size: 3rem;
}

.services{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5em;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.034));
    background-color: #090e1f;
    border: 0.1em solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    padding: 3% 1% 3% 1%;
    width: 10em;
    gap: 2em;
    transition: 0.5s;
}

.services h2{
    font-size: 5rem;
    color: #000;
}

.btn-home {
    position: fixed;
    padding: 1%;
    top: 85%;
    left: 93%;
}

.btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    border-radius: 40px;
    width: 4em;
    height: 4em;
    transition: 0.5s;
}

.btn-content:hover{
    background: #252525;
    transform: translateY(-5%);
}

.img-seta {
    width: 100%;
    max-width: 60%;
    margin: 10%;
}

@media (max-width: 800px){
    
    .header{
        flex-direction: column;
        justify-content: center;
        padding: 0% 3% 0% 3%;
    }

    .header-menu{
        display: none;
        flex-direction: column;
        gap: 16px;
    }

    .header-menu.active{
        display: flex;
        align-items: center;
        margin: 3%;
    }

    .menu-button{
        display: flex;
        align-items: center;
        justify-content: end;
        height: auto;
        transition: 0.5s;
    }

    .header-link{
        font-size: 1.5rem;
    }

    .header-logo{
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo-content img{
        width: 40%;
    }

    .logo-content{
        margin: 2%;
    }

    .toggle{
        display: flex;
        align-items: end;
    }

    .btn-home {
        top: 85%;
        left: 88%;
    }

    .banner h2{
        width: 90%;
        margin: 30% 1% 1% 1%;
    }

    .arrow-scroll{
        margin: 0;
        width: 10%;
    }

}

@media (max-width: 500px) {

    .header-link{
        font-size: 1.2rem;
    }

    .banner h2{
        font-size: 1.8rem;
        margin: 45% 1% 1% 1%;
    }

    .arrow-scroll{
        margin: 0;
        width: 15%;
    }
}