@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: #faecee;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    margin: 3%;
    padding: 0% 6% 0% 5%;
    border-radius: 90px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.363);
    background-color: #fff;
    transition: all 0.3s;
}

.header.sticky{
    margin: 0;
    border-radius: 0;
}

.header-logo{
    display: flex;
}

.logo-content{
    display: flex;
    margin: 1%;
}

.logo-content img{
    width: 80%;
}

#checkbox {
    display: none;
  }
  
.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    gap: 10px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition-duration: .5s;
}
  
.bars {
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
}
  
#bar2 {
    transition-duration: .8s;
}
  
#bar1 {
    width: 50%;
}
  
#bar2 {
    width: 75%;
}
  
#checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .1s;
}
  
#checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 20px;
}

.btn-talk{
    margin-left: 3%;
}

.btn{
    display: flex;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid;
    color: #000;
    transition: 0.5s;
}

.btn:hover{
    background-color: #fb042b;
    border: 1px solid #fb042b;
    color: #fff;
}

.header-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: #000;
    transition: 0.5s;
}

.header-link:hover{
    color: #fb042b;
}

.header-link::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fb042b;
    transition: width 0.2s ease-in-out, transform 0.4s ease-in-out;
    transform: translateX(0%);
}

.header-link:hover::after{
    width: 100%;
    transform: translateX(0%);
}

.main-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#c90322, #fb042b, #fb1539, #fc4764);
    border-bottom-left-radius: 80px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 7% 1% 1% 1%;
}

.container-banner{
    display: flex;
    padding: 7% 5% 2% 5%;
}

.text-banner{
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
    padding-bottom: 11%;
    gap: 2em;
}

.text-banner h2{
    text-align: start;
    width: 70%;
    margin: 7% 1% 1% 1%;
    font-size: 1.8rem;
    font-weight: 800;
    color: #fff;
}

.text-banner img{
    width: 100%;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner img{
    width: 450px;
    height: 400px;
}

.border-el-btn {
    display: flex;
    justify-content: center;
    position: relative;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 1em 2em;
    margin: 1% 1% 1% 1.3%;
    width: 38%;
    transition: background-color 0.8s;
}
  
.border-el-btn:active {
    transform: scale(.98);
}

.border-el-btn:hover{
    background-color: #000;
}
  
.border-el-btn span {
    position: absolute;
    background: #fff;
    transition: .5s;
}
  
.border-el-btn span:nth-child(1) {
    top: 0;
    left: 0;
    width: 3px;
    height: 30%;
}
  
.border-el-btn:hover span:nth-child(1) {
    height: 100%;
}
  
.border-el-btn span:nth-child(2) {
    top: 0;
    left: 0;
    width: 15%;
    height: 3px;
}
  
.border-el-btn:hover span:nth-child(2) {
    width: 100%;
}
  
.border-el-btn span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 3px;
    height: 30%;
}
  
.border-el-btn:hover span:nth-child(3) {
    height: 100%;
}
  
.border-el-btn span:nth-child(4) {
    bottom: 0;
    right: 0;
    width: 15%;
    height: 3px;
}
  
.border-el-btn:hover span:nth-child(4) {
    width: 100%;
}

.arrow-scroll{
    position: absolute;
    top: 82%;
    left: 46%;
    padding: 0.3%;
    width: 6%;
    transition: 0.5s;
    animation: 1s ease-in-out 2s infinite alternate none running icon-move-people; 
}

@keyframes icon-move-people{
    0%{
        transform: translate3d(0px, 0px, 0px);
    }

    100%{
        transform: translate3d(0px, 10px, 10px);
    }
}

.social-fixed{
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 1% 0% 0% 0%;
    z-index: 10;
    bottom: 0;
    left: 1%;
    opacity: 0;
    transition: 0.5s;
}

.social-link{
    filter: brightness(100%);
    width: 35px;
    transition: 0.5s;
}

.social-link:hover{
    transform: translateY(-10%);
    filter: brightness(80%);
}

.social-link img{
    width: 100%;
}

.border{
    background-color: #000;
    height: 80px;
    width: 3px;
    margin-top: 20%;
    margin-left: 45%;
    border-radius: 10px;
}

.img1{
    top: 10%;
    left: 2%;
}

.about-page{
    display: flex;
    flex-direction: column;
    background-image: url(/assets/background-element.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0% 0% 5% 0%;
}

.about-page h2{
    font-size: 3em;
    margin: 5% 7% 3%; 
}

.about-container{
    display: flex;
    width: 60%;
    margin-left: 7%; 
}

.about-container p{
    text-align: justify;
    width: 70%;
}

.service-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;
    gap: 1em;
}

.service-page h2{
    font-size: 3rem;
}

.text{
    width: 70%;
}

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 5% 1% 2% 1%;
    gap: 5em;
}

.services h2{
    font-size: 5rem;
    color: #000;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.034));
    border: 1px solid rgba(255, 255, 255, 0.778);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);    border-radius: 10px;
    padding: 2% 1% 2% 1%;
    width: 18em;
    margin: 1%;
    gap: 2em;
    transition: 0.5s;
}

.item img{
    width: 50%;
}

.item h2{
    font-size: 1.5rem;
}

.item:hover{
    transform: scale(1.004); 
    box-shadow: 0 0 10px 2px #2525256c;
}

.division {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #fb042b;
    margin: 5% 0% 5% 0%;
    height: 23em;
    padding: 2%;
}

.division h2{
    font-size: 2.1rem;
    color: #fff;
}

.division p{
    color: #fff;
    font-size: 1.1rem;
    margin-right: 8%;
    margin-left: 8%;
}

.border-btn {
    display: flex;
    justify-content: center;
    position: relative;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 1em 2em;
    margin: 1% 1% 1% 1.3%;
    width: 25%;
    transition: background-color 0.8s;
}
  
.border-btn:active {
    transform: scale(.98);
}

.border-btn:hover{
    background-color: #000;
}
  
.border-btn span {
    position: absolute;
    background: #fff;
    transition: .5s;
}
  
.border-btn span:nth-child(1) {
    top: 0;
    left: 0;
    width: 3px;
    height: 30%;
}
  
.border-btn:hover span:nth-child(1) {
    height: 100%;
}
  
.border-btn span:nth-child(2) {
    top: 0;
    left: 0;
    width: 15%;
    height: 3px;
}
  
.border-btn:hover span:nth-child(2) {
    width: 100%;
}
  
.border-btn span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 3px;
    height: 30%;
}
  
.border-btn:hover span:nth-child(3) {
    height: 100%;
}
  
.border-btn span:nth-child(4) {
    bottom: 0;
    right: 0;
    width: 15%;
    height: 3px;
}
  
.border-btn:hover span:nth-child(4) {
    width: 100%;
}

.choose-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: 5% 7%;
}

.choose-page h2{
    font-size: 3rem;
}

.container-choose{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 6%;
    padding: 1%;
    gap: 5em;
}

.container-choose img{
    width: 20%;
}

.item-choose{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.034));
    border: 1px solid rgba(255, 255, 255, 0.898);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);    
    border-radius: 10px;
    gap: 2em;
    width: 26%;
    padding: 5% 2%;
    transition: 0.5s;
}

.item-choose:hover{
    box-shadow: 0 0 10px 1px #fb0429;
}

.item-choose img{
    width: 40%;
}

.item-choose span{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5%;
}

.btn-home {
    position: fixed;
    padding: 1%;
    top: 85%;
    left: 93%;
}

.btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    border-radius: 40px;
    width: 4em;
    height: 4em;
    transition: 0.5s;
}

.btn-content:hover{
    background: #252525;
    transform: translateY(-5%);
}

.img-seta {
    width: 100%;
    max-width: 60%;
    margin: 10%;
}

.contact-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#c90322, #fb042b, #fb1539, #fc4764);
    gap: 4em;
}

.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form{
    padding: 1%;
}

.form label,
.form input,
.form textarea,
.form button {
    width: 100%;
}

.form label{
    color: #fff;
    line-height: 1;
}

.form input,
.form textarea{
    font: inherit;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 0.5%;
    margin-bottom: 1%;
    padding: 0.8rem;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.778);
    color: #fff;
    transition: border-color 0.5s;
    transition: 0.5s;
    box-shadow: 0.2s;
}

.form textarea{
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus{
    outline: none;
    box-shadow: 3px 3px 2px 1px #474242;
}

.form input:focus,
.form textarea:focus{
    color: #000;
    background-color: #faecee;
}

.form button{
    display: flex;
    justify-content: center;    
    background: transparent;   
    text-transform: uppercase;   
    cursor: pointer;
    color: #fff;
    border: 0.1em solid ;
    border-radius: 0.4em;
    padding: 1em;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s;
}

.form button:hover{
    border: 1px solid #000;
    background: #000;
}

.formu{
    text-align: center;
    overflow-y: hidden;
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1.2;
    color: #fff;
}

.formu::before{
    content: "";
    display: block;
}

footer{
    display: flex;
    gap: 50%;
    padding: 5% 5% 2% 5%;
    background-color: #3d3838;
}

footer img{
    width: 60%;
    margin-bottom: 3%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.info p{
    color: #fff;
}

.div{
    display: flex;
    border-top: 2px solid #faecee;
    width: 100%;
    margin-top: 30%;
}

.menu{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.menu span, a{
    color: #fff;
    padding: 1%;
}

.menu span{
    color: #fb042b;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 7%;
}

.menu a{
    text-decoration: none;
    font-size: 1rem;
    transition: 0.5s;
}

.menu a:hover{
    color: #fb042b;
    transform: translateY(-5%);
}

@media (max-width: 800px){
    
    .header{
        flex-direction: column;
        justify-content: center;
        border-radius: 0;
        padding: 0% 3% 0% 3%;
    }

    .header-menu{
        display: none;
        flex-direction: column;
        gap: 16px;
    }

    .header-menu.active{
        display: flex;
        align-items: center;
        margin: 3%;
    }

    .menu-button{
        display: flex;
        align-items: center;
        justify-content: end;
        height: auto;
        transition: 0.5s;
    }

    .header-link{
        font-size: 1.5rem;
    }

    .header-logo{
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo-content img{
        width: 40%;
    }

    .logo-content{
        margin: 2%;
    }

    .toggle{
        display: flex;
        align-items: end;
    }

    .main-page{
        padding-bottom: 13%;
    }

    .container-banner{
        flex-direction: column;
    }

    .text-banner{
        align-items: center;
        padding-bottom: 3%;
    }

    .text-banner h2{
        text-align: center;
        width: 90%;
        margin: 10% 1% 1% 1%;
    }

    .banner{
        padding: 10%;
    }

    .banner img{
        width: 380px;
        height: 330px;
    }

    .arrow-scroll{
        margin: 0;
        width: 15%;
        top: 152%;
        left: 46%;
    }

    .social-fixed{
        display: none;
    }

    .about-page{
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 10% 1% 20% 1%;
    }

    .about-container{
        width: 100%;
    }

    .text{
        width: 100%;
    }

    .service-page{
        text-align: center;
    }

    .services{
        justify-content: center;
        padding: 15% 1% 30% 1%;
    }

    .division{
        padding: 10% 1% 10% 1%;
        height: auto;
        gap: 2em;
    }

    .border-el-btn{
        width: 50%;
        margin: 0;
        padding: 5% 1% 5% 1%;
    }

    .border-btn{
        width: 50%;
        margin: 0;
        padding: 5% 1% 5% 1%;
    }

    .btn-home {
        top: 85%;
        left: 88%;
    }
}

@media (max-width: 500px) {

    .header-link{
        font-size: 1.2rem;
    }

    .banner h2{
        font-size: 1.8rem;
        margin: 45% 1% 1% 1%;
    }

    .main-page{
        padding-bottom: 20%;
    }

    .arrow-scroll{
        margin: 0;
        width: 20%;
        top: 124%;
        left: 42%;
    }

    .container-banner{
        gap: 2em;
    }

    .banner{
        padding: 10%;
    }

    .banner img{
        width: 280px;
        height: 220px;
    }

    .text-banner h2{
        margin-top: 20%;
    }

    .service-page{
        padding-top: 13%;
    }
    
    .division{
        padding: 10% 1% 10% 1%;
        height: auto;
        gap: 2em;
    }

    .border-el-btn{
        width: 80%;
        margin: 0;
        padding: 8% 1% 8% 1%;
    }

    .border-btn{
        width: 80%;
        margin: 0;
        padding: 8% 1% 8% 1%;
    }

    .item-choose{
        width: auto;
        margin: 2%;
    }

    .item-choose span{
        font-size: 1.5rem;
    }

    .item-choose p{
        font-size: 0.9rem;
    }
    
    .btn-home {
        top: 85%;
        left: 80%;
    }
}
